<title>登录</title>
<form action="login" method="post">
	<p>
		<label>
			用户名
		</label>
		<input name="user[username]" />
	</p>
	<p>
		<label>
			密码
		</label>
		<input type="password" name="user[password]" />
	</p>
	<p>
		<button>登录</button>
	</p>
</form>