<title>注册</title>
<form action="signin" method="post">
	<p>
		<label>
			用户名
		</label>
		<input name="user[username]" />
	</p>
	<p>
		<label>
			密码
		</label>
		<input type="password" name="user[password]" />
	</p>
	<p>
		<button>注册</button>
	</p>
</form>